
#exercise1 {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* Styles for 02-class-id-selectors from below here */

.odd {
    background-color: rgb(252, 157, 157);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px;
}

#big-blue {
    color: blue;
    font-size: 36px;
    font-family: 'Verdana';
}

#bold-green {
    background-color: rgb(123, 252, 123);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
}

.click1,
.click2 {
    font-size: 28px;
    font-family: 'Times New Roman', 'Helvetica', sans-serif;
}

.click1 {
    background-color: black;
    color: white;
}

.click2 {
    background-color: yellow;
}

