
#exercise1 {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* Styles for 02-class-id-selectors from below here */

.odd {
    background-color: rgb(252, 157, 157);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.cooler {
    font-size: 24px;
}

#big-blue {
    color: blue;
    font-size: 36px;
    font-family: 'Verdana';
}

#bold-green {
    background-color: rgb(123, 252, 123);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Verdana';
}

/* Styles for 03-grouping-selectors from below here */

/* Grouping selector for styles that both elements share */
.click1,
.click2 {
    font-size: 28px;
    font-family: 'Times New Roman', 'Helvetica', sans-serif;
}

/* Separate rules for styles unique to click1 */
.click1 {
    background-color: black;
    color: white;
}
/* Separate rules for styles unique to click2 */
.click2 {
    background-color: yellow;
}

/* Styles for 04-chaining-selectors from below here */

/* Chaining selector for element with both 'avatar' and 'proportioned' classes */
.avatar.proportioned {
    width: 300px;
    height: auto;
}
/* Chaining selector for element with both 'avatar' and 'distorted' classes */
.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* Styles for 05-descendant-combinator from below here */

/* Separate rule for the 'text' class since the font type is all the same for both 'styled' and 'unstyled' texts */
.text {
    font-family: 'Verdana', sans-serif;
}

/* Descendant combinator for 'container' (parent) and 'text' (child) classes */
.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

.para {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}